@keyframes glowPulse {
  0% {
    text-shadow: 0 0 10px #00eaff, 0 0 20px #00eaff, 0 0 30px #00eaff;
  }
  50% {
    text-shadow: 0 0 25px #00eaff, 0 0 50px #00eaff, 0 0 75px #00eaff;
  }
  100% {
    text-shadow: 0 0 10px #00eaff, 0 0 20px #00eaff, 0 0 30px #00eaff;
  }
}

@keyframes bounceIcon {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.homeIcon {
  margin-top: 20px;
  font-size: 5em;
  color: #00eaff;
  animation:
    glowPulse 2s infinite ease-in-out,
    bounceIcon 3s infinite ease-in-out;
}


.about-text{
  font-size: 15px;
}

.contact-text{
  font-size: 15px;
}